.contact {
    &__list {
        display: flex;
        margin-left: auto;
    }

    &__items {
        margin-right: 50px;
    }

    &__items:last-child {
        margin-right: 0px;
    }

    &__link {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        font-family: $main-font;
        color: $primary-text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition: $animation;
    }

    &__link:hover,
    &__link:focus {
        color: $accent-text-color;
    }

    &__mail-icon,
    &__phone-icon {
        display: inline-block;
        margin-right: 10px;
        fill: currentColor;
    }
}