%conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.hero__conteiner {
    @extend %conteiner;
}

.header__conteiner {
    @extend %conteiner;
    position: relative;
}

.warranty__conteiner {
    @extend %conteiner;
}

.team__conteiner {
    @extend %conteiner;
}

.clients__conteiner {
    @extend %conteiner;
}

.footer__conteiner {
    @extend %conteiner;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
    }
}

.occupation__conteiner {
    @extend %conteiner;
    max-width: 1200px;
}

.filter__conteiner {
    @extend %conteiner;
}