 .logo {
     color: $accent-text-color;
     font-family: Raleway,
         sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;

     &__head {
         padding: 24px 0px;
         margin-right: 93px;
     }

     &__head--dark {
         color: #000000;
     }

     &__footer {
         display: block;
         text-align: center;
         margin-bottom: 20px;
     }

     &__footer--light {
         color: $background-main-color;
     }
 }