.warranty {
	padding-top: 60px;
	padding-bottom: 60px;

	&__conteiner {
		padding-left: 15px;
		padding-right: 15px;
	}

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 738px;
	}

	&__list {}

	&__plan {
		margin-top: 0px;
		margin-bottom: 10px;

		color: $title-text-color;
		font-family: $main-font;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: center;
	}

	&__text {
		margin: 0px;
		margin-bottom: 30px;
		font-family: $main-font;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
	}
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	margin: 0px;
}

.warrantly {
	&__items {
		max-width: 450px;
	}

	&__items::before {
		content: "";
		display: block;
		height: 120px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $background-light-color;
		border-radius: 4px;
		margin-bottom: 30px;
	}

	&__items--icon-antenna::before {
		background-image: url(../images/antenna.svg);
	}


	&__items--icon-clock::before {
		background-image: url(../images/clock.svg);
	}

	&__items--icon-diagramma::before {
		background-image: url(../images/diagram.svg);
	}

	&__items--icon-astronaut::before {
		background-image: url(../images/astronaut.svg)
	}
}