%conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

%position {
    display: flex;
    align-items: center;
}

%soc__net {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

%button {
    border-radius: 4px;
    border-color: $accent-text-color;
    color: $background-main-color;
    background-color: $accent-text-color;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}