%position {
    display: flex;
    align-items: center;
}

%button {
    border-radius: 4px;
    border-color: $accent-text-color;
    color: $background-main-color;
    background-color: $accent-text-color;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}